.contact {
  padding: 0 70px;
  .container {
    max-width: 560px;
    margin: 0;
    margin-left: auto;
  }
  &__image {
    margin-bottom: 50px;
  }
  &-list {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    p,
    a,
    span {
      color: $color-white;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
    }
    a:hover {
      color: $color-red;
    }
    span {
      display: block;
      flex: 0 0 20%;
      color: $color-gray-light;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &-social {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

// Media 1350px //
@media screen and (max-width: 1350px) {
  .contact {
    padding: 0;
    .page__title {
      padding-left: 15px;
    }
    .container {
      padding: 0 15px;
    }
  }
}

// Media 991px //
@media screen and (max-width: 991px) {
  .contact {
    padding-top: 97px;
  }
}

// Media 768px //
@media screen and (max-width: 768px) {
  .contact {
    .container {
      margin: 0 auto;
    }
  }
}

// Media 600px //
@media screen and (max-width: 600px) {
  .contact {
    &-list {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    &__image {
      margin-bottom: 40px;
    }
    span {
      flex: 0 0 30%;
    }
    span,
    a,
    p {
      font-size: 14px;
    }
    &-social {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}