// Colors //
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-background: rgb(23, 23, 25);

$color-gray-main: rgb(23, 23, 25);
$color-gray-light: rgb(146, 146, 146);
$color-red: rgb(197, 18, 18);