.studio {
  .container {
    padding: 0 70px;
  }
}

// Slider //
.studio {
  &-pagination {
    display: none;
  }
  &-slider {
    margin-top: 100px;
    max-width: 1070px;
    max-height: 626px;
    &-container {
      position: relative;
    }
    &-prev,
    &-next {
      width: 70px;
      height: 70px;
      border: 2px solid $color-white;
      border-radius: 100%;
      &::after {
        font-size: 6px;
      }
    }
    &-prev {
      left: 0;
      &::after {
        font-family: 'icomoon';
        content: '\e903';
      }
    }
    &-next {
      right: 0;
      &::after {
        font-family: 'icomoon';
        content: '\e904';
      }
    }
  }
}

// Thumbs //
.studio {
  &-thumbs {
    margin-right: auto;
    margin-left: 0;
    max-width: 337px;
    max-height: 495px;
    .swiper-slide-active {
      display: none;
    }
  }
}

// Content //
.studio {
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1070px;
    margin: 0 auto;
    margin-top: 60px;
  }
  &-text {
    max-width: 560px;
  }
  &__description {
    color: $color-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }
}

// Media 1350px //
@media screen and (max-width: 1350px) {
  .studio {
    .container {
      padding: 0 15px;
    }
    &-slider {
      max-width: 940px;
      max-height: 550px;
    }
    &-content {
      max-width: 940px;
    }
    &-thumbs {
      max-width: 287px;
      max-height: 360px;
    }
    &__description {
      font-size: 16px;
    }
  }
}

// Media 1250px //
@media screen and (max-width: 1250px) {
  .studio {
    &-slider {
      max-width: 940px;
      max-height: 491px;
    }
    &-content {
      max-width: 940px;
    }
    &__description {
      max-width: 460px;
    }
  }
}

// Media 1150px //
@media screen and (max-width: 1150px) {
  .studio {
    &-slider {
      max-width: 840px;
      max-height: 492px;
    }
    &-content {
      max-width: 840px;
    }
  }
}

// Media 1050px //
@media screen and (max-width: 1050px) {
  .studio {
    &-slider {
      max-width: 740px;
      max-height: 433px;
    }
    &-content {
      max-width: 740px;
    }
    &-thumbs {
      max-width: 237px;
      max-height: 300px;
    }
    &__description {
      max-width: 410px;
    }
  }
}

// Media 991px //
@media screen and (max-width: 991px) {
  .studio {
    padding-top: 97px;
    &-pagination {
      margin-top: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-pagination-bullet {
        margin: 0 5px;
      }
    }
    &-slider {
      max-width: 100%;
      max-height: unset;
      margin-top: 30px;
      &-prev,
      &-next {
        display: none;
      }
    }
    &-thumbs {
      display: none;
    }
    &-text,
    &__description,
    &-content {
      max-width: 100%;
      margin-bottom: 70px;
    }
    &__description {
      font-size: 14px;
    }
  }
}